.edit-container {
	max-width: 600px;
	padding: 25px 50px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 2px solid black;
	border-radius: 6px;
	background-color: #fff6e4e6;
}

.edit-container h1 {
	text-align: center;
}

.edit-container-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
}

.edit-schedule-menu {
	max-width: 300px;
}

.edit-class-list {
	max-height: 500px;
	width: 250px;
	overflow-y: scroll;
	border: 2px solid black;
	border-radius: 6px;
	border-spacing: 0px;
}

.edit-class-table {
	width: 250px;
}
.edit-class-table th {
	background-color: black;
	color: white;
	height: 30px;
}
.event-row {
	height: 80px;
}
.event-row:hover {
	background-color: lightgray;
}
.event-row td {
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.create-form-button-container {
	display: flex;
	justify-content: right;
	padding-bottom: 1em;
}
.edit-form-button-container {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
}

#create-event-container form,
#edit-event-container form {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

@media screen and (max-width: 800px) {
	.edit-container {
		padding: 10px;
		margin: auto;
		border: none;
		box-sizing: border-box;
	}

	.edit-container-inner {
		flex-direction: column;
		align-items: center;
	}

	.edit-container-inner > * {
		padding-bottom: 20px;
	}

	#event-form-container {
		padding: 20px 0;
	}
}
