.edit-container {
	max-width: 600px;
	padding: 25px 50px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	border: 2px solid black;
	border-radius: 6px;
}

.edit-container h1 {
	text-align: center;
}

.edit-container-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.edit-schedule-menu {
	max-width: 300px;
}

.edit-class-table {
	width: 250px;
	border: 2px solid black;
	border-radius: 6px;
	border-spacing: 0px;
}
.edit-class-table th {
	background-color: black;
	color: white;
	height: 30px;
}
.event-row {
	height: 80px;
}
.event-row:hover {
	background-color: lightgray;
}

.create-event-button-container,
.edit-button-container {
	display: flex;
	justify-content: center;
}
.edit-button-container {
	flex-direction: column;
	justify-content: center;
}
.edit-button-container a {
	width: 100px;
	margin: auto;
	padding-bottom: 10px;
	text-align: center;
}
.create-event-button {
	padding: 10px;
}

.edit-button-container .edit-save-button {
	margin: auto;
	padding: 10px;
	color: white;
}

#create-event-container form,
#edit-event-container form {
	display: flex;
	flex-direction: column;
	justify-content: left;
}
