body {
	text-decoration: none;
	margin: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

#job-board-container {
	padding: 50px 0;
}
#job-table {
	width: 70vw;
	margin: auto;
	border-collapse: collapse;
}

#job-table,
tr,
td {
	border: 1px solid black;
	color: black;
	background: white;
}

th {
	background-color: rgb(205, 205, 205);
	height: 50px;
}
#title {
	width: 20vw;
}
#employer {
	width: 10vw;
}
#description {
	width: 40vw;
}
#button {
	width: 10vw;
}

.job-button-container {
	width: 40vw;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
