.page-container {
	background-color: rgba(246, 198, 134, 0.651);
	border-radius: 20px;
	padding: 15px;
}

.small-hide {
	display: none;
	margin-left: auto;
	margin-right: auto;
}

table,
th,
td {
	border: 1px solid black;
	border-radius: 10px;
}

td:nth-child(even),
th:nth-child(even) {
	background-color: #ffcccc;
}

.schedule-wrapper {
	margin-top: 1em;
}

.schedule {
	width: -webkit-fill-available;
	width: -moz-available;
}

.schedule-table-top-buttons {
	width: auto;
	display: flex;
	justify-content: space-between;
}

.schedule-table-top-elements {
	padding-right: 40px;
}

.schedule-table-bottom-view {
	display: flex;
	margin: auto;
}

.schedule-table-bottom-elements {
	padding-top: 10px;
	padding-right: 40px;
}

@media screen and (max-width: 500px) {
	.small-hide {
		display: inherit;
	}

	.schedule {
		width: 450px;
	}

	.schedule-wrapper {
		overflow-x: scroll;
	}
}
