.schedule-table-top-buttons {
	width: auto;
	display: flex;
	justify-content: space-between;
}

.schedule-table-top-elements {
	padding-right: 40px;
}

.schedule-table-bottom-view {
	display: flex;
	margin: auto;
}

.schedule-table-bottom-elements {
	padding-top: 10px;
	padding-right: 40px;
}

.small-hide {
	display: none;
}

.page-container {
	background-color: rgba(246, 198, 134, 0.651);
	border-radius: 20px;
	padding: 15px;
}
@media screen and (max-width: 500px) {
	.small-hide {
		display: inherit;
	}

	.schedule {
		width: 450px;
		overflow-x: scroll;
	}
}
