.schedule-table-top-buttons {
	display: flex;
}

.schedule-table-top-elements {
	padding-right: 40px;
}

.schedule-table-bottom-view {
	display: flex;
}

.schedule-table-bottom-elements {
	padding-top: 10px;
	padding-right: 40px;
}
